.brand-concierge {
  display: flex;
  justify-content: center;
}

.brand-concierge #brand-concierge-mount {
  width: 100%;
  width: 800px;
  height: 800px;
  border: var(--border);
  box-shadow: var(--shadow-hard);
  background-color: var(--paper);
  overflow: hidden;
}
